<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Log/internal-nlog.txt">


  <variable name="logDirectory" value="${basedir}/Log"/>
  <variable name="logFileName" value="${logDirectory}/log-${shortdate}.log" />
  <variable name="logLevel" value="Info" />
  <variable name="layout" value="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
  <variable name="queueLimit" value="1000" />
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File" name="File"
          fileName="${logDirectory}/log-${shortdate}.log"
          KeepFileOpen="true"
          layout="${layout}" />

    <target name="console" xsi:type="ColoredConsole" layout="${layout}" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" minlevel="${logLevel}" writeTo="File" />

    <logger name="*" minlevel="${logLevel}" writeTo="Console" />

    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>